
 <% if flash[:notice].present?%>
<div class="alert alert-success" role="alert">
    FLASH NOTICE --
<%= flash[:notice] %>
</div>
<%end%>


<h1>Access#menu</h1>
<p>you are loggged in as </p>
<%= @username %>
<%= @user_id %>

<%= link_to "loggout", logout_path, method: :delete %>