<h1>Subjects#delete</h1>
<p>Find me in app/views/subjects/delete.html.erb</p>

<%= form_for(@subject, :method=> 'delete') do |f| %>
You sure 

<div class="form-buttons">
<%= f.submit("Delete Subject") %>
</div>
 <% end %>