<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <p> We are all about Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ea aliquid inventore, voluptate commodi explicabo blanditiis facere nulla recusandae qui deleniti iure iste corrupti totam eligendi cumque voluptas magnam suscipit!
    Non porro, minus aut, ea necessitatibus autem ipsa quasi excepturi ducimus expedita odit, molestiae est vel! Laboriosam in, impedit rem eius praesentium vitae ut ullam saepe veritatis voluptatem cum animi!</p>
    <br> 
    <p> we pride in Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis veniam modi maxime. Sapiente eius excepturi nobis necessitatibus ducimus accusamus quibusdam perferendis ratione, dolorum nemo reiciendis aut maxime totam. Tenetur, ex.
    Dolorum aut optio distinctio, incidunt impedit suscipit quo eos cumque eligendi facere, ut temporibus sequi aliquid, accusamus expedita numquam! Atque numquam deserunt iusto sapiente explicabo modi unde ex magni iste!</p>
</body>
 <%= link_to "contact US", {:action=>'contact', :country=>'CA'} %>

</html>